@charset UTF-8;

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("imagens/fundo-madeira.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

main{
	height: 100vh;
	width: 100vw;
	position: relative;
}

#menu{
	height: 100vh;
	width: 10vw;

	position: absolute;
	left: 90vw;

	text-align: center;
}

#menu a{
	display: block;
}

#menu img{
	width: 35%;
	height: 35%;

	border-radius: 50%;

	padding: 20%;
	transition: 0.6s;

	filter: brightness(60%);
}

#menu img:hover{
	width: 60%;
	height: 60%;

	filter: brightness(100%);
}

#img-frame-iphone{
	position: absolute;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#img-frame-iphone > img{
	height: 90vh;
}

#iframe_content{
	position: absolute;

	height: 74%;
	width: 85%;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}